CACHE_TTL="5"
CACHE_DIR="/tmp/keepax/"
DOVEIX_URI="imaps://localhost/"
DOVEIX_USER="test@localhost.com"
DOVEIX_PASS="xxxxxx"
DOVEADM_BIN="/usr/bin/doveadm"
DOVECOT_BIN="/usr/sbin/dovecot"
LSOF_BIN="/usr/bin/lsof"
PS_BIN="/usr/bin/ps"
